@model RFC.Models.CreateNew

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CreateNew</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChangeDescription" class="control-label"></label>
                <input asp-for="ChangeDescription" class="form-control" />
                <span asp-validation-for="ChangeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonForChange" class="control-label"></label>
                <input asp-for="ReasonForChange" class="form-control" />
                <span asp-validation-for="ReasonForChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product" class="control-label"></label>
                <input asp-for="Product" class="form-control" />
                <span asp-validation-for="Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemAffected" class="control-label"></label>
                <input asp-for="SystemAffected" class="form-control" />
                <span asp-validation-for="SystemAffected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customers" class="control-label"></label>
                <input asp-for="customers" class="form-control" />
                <span asp-validation-for="customers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomersAffected" class="control-label"></label>
                <input asp-for="CustomersAffected" class="form-control" />
                <span asp-validation-for="CustomersAffected" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ServiceImpact" /> @Html.DisplayNameFor(model => model.ServiceImpact)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RiskOfChange" class="control-label"></label>
                <input asp-for="RiskOfChange" class="form-control" />
                <span asp-validation-for="RiskOfChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskNoChange" class="control-label"></label>
                <input asp-for="RiskNoChange" class="form-control" />
                <span asp-validation-for="RiskNoChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerifyAfter" class="control-label"></label>
                <input asp-for="VerifyAfter" class="form-control" />
                <span asp-validation-for="VerifyAfter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RollBackPlan" class="control-label"></label>
                <input asp-for="RollBackPlan" class="form-control" />
                <span asp-validation-for="RollBackPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhyDueDate" class="control-label"></label>
                <input asp-for="WhyDueDate" class="form-control" />
                <span asp-validation-for="WhyDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhoPerforming" class="control-label"></label>
                <input asp-for="WhoPerforming" class="form-control" />
                <span asp-validation-for="WhoPerforming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

