@{
    var textInfo = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo;
    var args = User.Identity.Name.Split("\\");
    var name = textInfo.ToTitleCase(args[1].Replace(".", " "));
    //var email = args[1] + "@" + textInfo.ToLower(args[0]) + ".com";

    var quotes = new string[]
    {
        ""
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RFC</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RFC</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <p class="nav navbar-text navbar-right">@name</p>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CreateNew" asp-action="Create">Create Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CreateNew" asp-action="Index">View Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Manage Users</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content">
        <a href="/"><img class="logo" src="~/images/Servelec-D-Logo.png"></a>
        <div class="background"></div>
        <div class="RFCForm">@RenderBody()</div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <button class="btn btn-default button" id="changeCSSThemeButton" style="position: absolute; top: 5px; right: 10px; color:white;" onclick="changeCSSTheme()">Dark Mode</button>
</body>
</html>

<script>

    function changeCSSTheme()
    {
        if (localStorage.getItem('IsDarkMode') === null) {
            localStorage.setItem('IsDarkMode', '1');
        }
        else if (localStorage.getItem('IsDarkMode') == '1') {
            localStorage.setItem('IsDarkMode', '0');
        }
        else if (localStorage.getItem('IsDarkMode') == '0') {
            localStorage.setItem('IsDarkMode', '1');
        }

        setCSSTheme();
    }


    function setCSSTheme()
    {
        if (localStorage.getItem('IsDarkMode') == '1') {
            cssFile = '/lib/bootstrap/dist/css/bootstrap-darkly.css';
            this.document.getElementById('changeCSSThemeButton').innerHTML = 'Light Mode'
            if (document.getElementById('left') != null) {
                document.getElementById('left').style.background = "url(images/frontImage-edited.png)";
            }
        } else if (localStorage.getItem('IsDarkMode') == '0') {
            cssFile = '/lib/bootstrap/dist/css/bootstrap.min.css';
            this.document.getElementById('changeCSSThemeButton').innerHTML = 'Dark Mode'
            if (document.getElementById('left') != null) {
                document.getElementById('left').style.background = "url(images/frontImage.png)";
            }
        }

        var oldlink = document.getElementsByTagName("link").item(1);

        var newlink = document.createElement("link");
        newlink.setAttribute("rel", "stylesheet");
        newlink.setAttribute("href", cssFile);

        document.getElementsByTagName("head").item(0).replaceChild(newlink, oldlink);

        usingCSSFile = cssFile;
    }

    window.onload = function () {
        this.setCSSTheme();
    }; 
</script>