@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <a href="/create">Create a request</a>
        <a href="/submissions">View submissions</a>
        <a href="/admin">Manage users</a>

    </div>
