@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <a href="/create">Create a request</a>
        <a href="/submissions">View submissions</a>
        <a href="/admin">Manage users</a>
    </div>
