@model RFC.Models.User
@{
    ViewData["Title"] = "Home Page";
    var textInfo = System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo;
    var args = User.Identity.Name.Split("\\");
    var name = textInfo.ToTitleCase(args[1].Replace(".", " "));
    var DomainUser = User.Identity.Name;

    var greetings = new string[] { "Welcome back %name%", "Good day, %name%", "Long time no see, %name%", "Greetings %name%" };
}

<div id="left"></div>
<div id="right">
    <div class="header">
        <h1 id="fghryf" style="text-align:center">@greetings[new Random().Next(0, greetings.Length)].Replace("%name%", Model.Name)</h1>
    </div>
    <div class="rightContent">
        <div class="options">
            <a class="option" id="createRequestButtonID" style="border: solid; border-color: transparent; text-decoration: none;" asp-area="" asp-controller="CreateNew" asp-action="Create" onmouseover="this.style.borderColor='#e82910ff';" onmouseout="this.style.borderColor = 'transparent';">
                <div class="icon" style="background-color: #e82910ff ;width:  30%;display:  flex;justify-content:  center;align-items:  center;">
                    <img src="~/images/makeRequest-icon.png" />
                </div>
                <div class="text" style="background-color: #b5220fff">Make a request</div>
            </a>
            @switch (Model.Role.ToString())
            {
                case "Admin":
                    <a class="option" id="weeklyAgendaButtonID" style="border: solid; border-color: transparent; text-decoration: none;" asp-area="" asp-controller="WeeklyAgenda" asp-action="WeeklyAgenda" onmouseover="this.style.borderColor='#ef8700';" onmouseout="this.style.borderColor = 'transparent';">
                        <div class="icon" style="background-color: #ef8700 ;width:  30%;display:  flex;justify-content:  center;align-items:  center;">
                            <img src="~/images/makeRequest-icon.png" />
                        </div>
                        <div class="text" style="background-color: #cc7300">Weekly Agenda</div>
                    </a>
                    <a class="option" id="viewRequestsButtonID" style="border: solid; border-color: transparent; text-decoration: none;" asp-area="" asp-controller="CreateNew" asp-action="Index" onclick="viewRequestsClick()" onmouseover="this.style.borderColor='#8b1065ff';" onmouseout="this.style.borderColor = 'transparent';">
                        <div class="icon" style="background-color: #8b1065ff; width:  30%;display:  flex;justify-content:  center;align-items:  center;"><img src="~/images/viewRequests-icon.png"></div>
                        <div class="text" style="background-color: #670d4bff">View Requests</div>
                    </a>
                    <a class="option" id="adminButtonID" style="border: solid; border-color: transparent; text-decoration: none;" asp-area="" asp-controller="Administration" asp-action="Index" onmouseover="this.style.borderColor='#164194';" onmouseout="this.style.borderColor = 'transparent';">
                        <div class="icon" style="background-color: #164194; width:  30%;display:  flex;justify-content:  center;align-items:  center;"><img src="~/images/manage-icon.png"></div>
                        <div class="text" style="background-color: #123476">Administration</div>
                    </a>
                    break;
                case "Power":
                    <a class="option" id="weeklyAgendaButtonID" style="border: solid; border-color: transparent; text-decoration: none;" asp-area="" asp-controller="CreateNew" asp-action="WeeklyAgenda" onmouseover="this.style.borderColor='yellow';" onmouseout="this.style.borderColor = 'transparent';">
                        <div class="icon" style="background-color: #e82910ff ;width:  30%;display:  flex;justify-content:  center;align-items:  center;"><img src="~/images/makeRequest-icon.png" /></div>
                        <div class="text" style="background-color: #b5220fff">Weekly Agenda</div>
                    </a>
                    <a class="option" id="viewRequestsButtonID" style="border: solid; border-color: transparent; text-decoration: none;" asp-area="" asp-controller="CreateNew" asp-action="Index" onclick="viewRequestsClick()" onmouseover="this.style.borderColor='#8b1065ff';" onmouseout="this.style.borderColor = 'transparent';">
                        <div class="icon" style="background-color: #8b1065ff; width:  30%;display:  flex;justify-content:  center;align-items:  center;"><img src="~/images/viewRequests-icon.png"></div>
                        <div class="text" style="background-color: #670d4bff">View Requests</div>
                    </a>
                    break;
                default:
                    break;
            }
        </div>
    </div>
</div>

<script>
    function viewRequestsClick() {
        document.getElementById("viewrequestsText").innerHTML = "Connecting to database...";
    }
</script>