@{
    ViewData["Title"] = "Administration Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="right">
    <div class="header" style="display:flex; justify-content: space-between;">
        <h1 style="display:inline-block; width:auto; vertical-align: top;">Administration</h1>
        <div class="buttons" style="margin-top: 0px; display:inline-block;width:auto;vertical-align: top;">
            <div class="otherButtons">
                <a style="width: 100%" class="button submit btn btn-default" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a>
            </div>
        </div>
    </div>
    <div class="rightContent">
        <div class="options" style="flex-direction: row;">
            <a class="option" style="height: 20%;text-decoration: none;" asp-area="" asp-controller="Admin" asp-action="Index" onmouseover="this.style.borderColor='#e82910ff';" onmouseout="this.style.borderColor = 'transparent';">
                <div class="icon" style="background-color: #e82910ff; width:  30%;display:  flex;justify-content:  center;align-items:  center;"><img src="~/images/manageUsers.png"></div>
                <div class="text" style="background-color: #b5220fff">Manage Users</div>
            </a>
            <a class="option" style="height: 20%;text-decoration: none;" asp-area="" asp-controller="Customers" asp-action="Index" onmouseover="this.style.borderColor='#8b1065ff';" onmouseout="this.style.borderColor = 'transparent';">
                <div class="icon" style="background-color: #8b1065ff; width:  30%;display:  flex;justify-content:  center;align-items:  center;"><img src="https://cdn.glitch.com/c6b364c6-db89-45d2-b2d7-18559fbc4e64%2FmanageRequests.png?v=1579711825680"></div>
                <div class="text" style="background-color: #670d4bff">Manage Customers</div>
            </a>
        </div>
    </div>
</div>